* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #060AB2;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}

.memory-card:active {
    -webkit-transform: scale(.97);
    -ms-transform: scale(.97);
    transform: scale(.97);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}

.memory-card.flip {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #1c7ccc;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front-face {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
}
.popup__end {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.popup__body {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup__content {
    background-color: white;
    color: black;
    width: 80%;
    max-width: 500px;
    padding: 30px;
}
.popup__title {
    font-size: 30px;
    margin: 0px 0px 1em 0px;
}
.popup__text {
    margin-bottom: 20px;
    font-size: 20px;
}
.popup__start {
    bottom: 10px;
    font-size: 30px;
    color: black;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (max-width : 470px) {
    .memory-card {
        width: calc(33.333% - 10px);
        height: calc(25% - 10px);
        margin: 5px;
        position: relative;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        -o-transition: transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s;
    }
}